*{
	margin: 0;
	padding: 0;				
}
/*################################ menu de atalhos do site ################################*/
nav{
	width: 100%;
	background-color: blue;
	height:50px;
	position: fixed;
	top: 0;
	left: 0;
}

nav ul{
	text-align: center;
	list-style-type: none;
}

nav ul li{
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	font-weight: bold;
	line-height: 2.4;
}

nav a{
	padding: 10px 40px;
	text-decoration: none;
	color: yellow;
	font-size: 22px;
}

nav a:hover{
	color: black;
	background-color:yellow;
}
/*################################ menu de atalhos do site ################################*/

/*################################ corpo do site ################################*/
main{
	padding-top: 50px;
	text-align: center;
	width: 800px;
	margin: 0 auto;
}

/*##### INVENCIVEL #####*/
#caixa1{
	padding-top: 25px;
	margin-top: 20px ;
	width: 800px;
	height: 580px;
	background-color: darkblue;
	border-radius: 50px;
	color:white;
	-moz-box-shadow: 6px 5px 7px #000000 ;
	-webkit-box-shadow: 6px 5px 7px #000000 ;
	box-shadow: 6px 5px 7px #000000 ;
	margin-bottom: 5px;
}
#t1{
	text-decoration: underline;
	color: yellow;
}
#texto1{
	width:300px;
	height:250px;
	float: left;
	margin:25px 0px 0px 50px;
	font-size:18px;
}
.capa{
	width:300px;
	height:450px;
	margin:25px 50px 0px 0px;
	float: right;
}
/*##### INVENCIVEL #####*/

/*##### VILTRUMITAS #####*/
#caixa2{
	padding-top: 25px;
	margin-top: 20px ;
	width:800px;
	height: 1760px;
	background-color: dimgrey;
	border-radius: 50px;
	-moz-box-shadow: 6px 5px 7px #000000 ;
	-webkit-box-shadow: 6px 5px 7px #000000 ;
	box-shadow: 6px 5px 7px #000000 ;
	margin-bottom: 5px;
}
#t2{
	text-decoration: underline;
}
#texto2{
	font-size:18px;
	margin: 25px 0px 15px 0px;
}
#t23{
	margin-top: 30px;
	clear: both;
}
#texto23{
	width:300px;
	height:250px;
	float: left;
	margin:25px 0px 30px 50px;
	font-size:17px;
}
#irmao{
	width:360px;
	height:510px;
	margin:25px 50px 30px 0px;
	float: right;
}
#t24{
	clear: both;
}
#forca{
	width:300px;
	height:250px;
	float: right;
	margin:25px 50px 0px 0px;
	font-size:17px;
}
#sol{
	width:360px;
	height:510px;
	margin:25px 0px 0px 50px;
	float: left;
}
/*##### VILTRUMITAS #####*/

/*##### CONCLUSAO #####*/
#caixa3{
	padding-top: 25px;
	margin-top: 20px ;
	width: 800px;
	height: 580px;
	background-color: darkblue;
	border-radius: 50px;
	color:white;
	-moz-box-shadow: 6px 5px 7px #000000 ;
	-webkit-box-shadow: 6px 5px 7px #000000 ;
	box-shadow: 6px 5px 7px #000000 ;
	margin-bottom: 5px;
}
#conc{
	text-decoration: underline;
	color: yellow;
}
#texto3{
	width:300px;
	height:250px;
	float: left;
	margin:25px 0px 0px 50px;
	font-size:18px;
}
/*##### CONCLUSAO #####*/
/* ################################ corpo do site ################################*/

/* ################################ Rodape do site ################################*/
footer{
	clear: both;
	margin-top: 20px;
	width: 100%;
	background-color:blue;
	color:yellow;
	text-align: center;
	padding: 20px 0px;
	float: left;
}
#mark01{
	width: 60px;
	height:60px;
	margin-left: 20px;
}

footer figure img{
	margin-left: 10px;
}